body {
  padding: 1em;
  margin: 0;
}

a img {
  border: none;
}

/*
Color Scheme Designer 3: http://colorschemedesigner.com/#3s31Jw0w0w0w0
*/

a:link {
  color: #FF5900;
}

a:visited {
  color: #A63A00;
}

h1, h2, h3, h4, h5, h6, h7,
#header, #navigation, .nav-item {
  font-family: BladeRunnerMovieFontRegular;
}

#header, #navigation, #content, .nav-item {
  border: solid #63ADD0;
}

#header {
  -moz-box-shadow: 0.1em 0.1em 0.1em #235D79;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #235D79;
  box-shadow: 0.1em 0.1em 0.1em #235D79;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#235D79')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#235D79');
}

#navigation, #content {
  -moz-box-shadow: 0.3em 0.3em 0.3em #235D79;
  -webkit-box-shadow: 0.3em 0.3em 0.3em #235D79;
  box-shadow: 0.3em 0.3em 0.3em #235D79;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#235D79')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#235D79');
}

#header, #navigation{
  background: #034769;
}

#content, .nav-item {
  background: white;
}

.nav-item, #footer {
  color: #034769;
}

#content, #navigation {
  border-width: 0.3em;
  border-radius: 1.5em 0.6em;
  -moz-border-radius: 1.5em 0.6em;
  padding: 0.5em;
}

#header {
  color: white;
  font-size: 300%;
  padding: 0.2em;
  margin: 0 0 0.2em;
  border-width: 0.1em;
  border-radius: 0.5em 0.2em;
  -moz-border-radius: 0.5em 0.2em;
  text-align: center;
}

#navigation {
  list-style-type: none;
  float: left;
  width: 15em;
  margin: 0;
}

#navigation a {
  text-decoration: none;
  color: inherit;
}

#navigation ul {
  list-style-type: disc;
}

.nav-item {
  border-radius: 0.75em 0.3em;
  -moz-border-radius: 0.75em 0.3em;
  padding: 0.2em 1em;
  margin-bottom: 0.5em;
}

.nav-current {
  color: black;
}

#content-container {
  margin-left: 17em;
}

#footer {
  clear: both;
  text-align: left;
  font-size: 80%;
  padding: 1em 0;
}

.version_switcher {
  float: right;
  color: inherit !important;
}

.warning {
	border: medium red solid;
	color: red;
	padding: 0.5em;
}
